@model List<CodeOverFlowProject.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Questions";
}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("QuestionView", item);
            }
        </table>
        @if (Session["CurrentUserID"] != null)
        {
            <a href="/Questions/Create" class="btn MySelector">Add Question</a>
        }
    </div>
</div>
<script>
    $("a[href='/AllQuestions']").attr("id","active")
</script>


